.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header{
  background-color: #353535;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

/* botón contador */

.botonAdd{
  display: flex;
  justify-content: space-evenly;
}
.botonAdd button {
  margin: 10px;
  padding: 10px;
  background-color: #fac400;
  border-radius: 4px;
  box-shadow: 0 0 5px #fac400, 0 0 15px #fac400,
  0 0 15px #fac400;
  color: #353535;
  font-weight: 800;
  font-size: 16px;
}

.botonAdd p {
  color: #353535;
  font-size: 20px;
  font-weight: 800;
}

.agregarCarr{
  background-color: #353535;
  border-radius: 4px;
  padding: 10px;
  color: #eee7cd;
  box-shadow: 0 0 5px #353535, 0 0 15px #353535,
  0 0 15px #353535;
}

/* navbar */

.logo{
  width: 130px;
  margin-left: 20px;
}
.bar-btn{
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
}
.nav-menu{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(0, 0, 0, 0.95);
  text-align: center;
  transition: all .5s;
  padding: 20px;
}
.linked{
  color: #eee7cd;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: poppins;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
}

.linked:hover{
  color:#cc4d3a;
  transition: .3s;
}

.detalle {
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: poppins;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  background-color: #fac400;
  border-radius: 10px;
}

.detalle:hover{
  color:#fac400;
  transition: .3s;
  background-color: #000000;
}

.nav-menu li a.active, .nav-menu li a:hover{
  color:#cc4d3a;
  transition: .3s;
}
#check  {
  display: none;
}
#check:checked  ~ .nav-menu {
  height: 100vh ;
}
#check:checked  ~ .nav-menu li{
  display: block;
}

.logo a {
  font-family: poppins;
  text-decoration: none;
  color: #eee7cd;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

/* cards cerveza */

.cards{
  display: flex;
  text-decoration: none;
  background-color: #eee7cd;
  list-style-type: none;
  padding: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards li {
  font-family: poppins;
  background-color: #cc4d3a;
  border: 1px solid rgb(43, 43, 43);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  
}

.carrito{
  width: 30px;
 
  /* padding-right: 20px ; */

}

.cardsBeer {
  font-family: poppins;
  text-align: center;
  padding: 20px;
  border: 2px solid #353535;
  box-shadow: 0 0 5px #353535, 0 0 15px #353535;
  margin: 10px;

  
  border-radius: 16px;
}

.cardsBeer img {
  border-bottom: 3px solid #353535;
}

.navCarrito{
  background-color: #fac400;
  text-align: end;
  
  padding: 20px;

}

.descBeer{
  color: rgb(253, 203, 66);
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 5px #353535, 0 0 15px #353535 ;
}

.infoBeer{
  font-size: 18px;
  
}

.containerItems{
  display: block;

  text-align: center;
}

.itemCart{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: auto;
  height: 100px;
  margin: 20px;
  align-content: center;
  align-items: center;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.itemCart button{
 
  height: 50px;

  text-align: center;
  margin:20px;
}

.itemCart p {
  margin: 50px;
}

.itemCart h2 {
  margin: 50px;
}
.itemCart img {
  margin:100px;
}


@media screen and (min-width: 768px){
 
  .header{
    width: 100%;
    height: 100%;
  }
  .logo{
      margin-left:50px ;
  }
  nav{
      height: 100px;
  }
  .bar-btn{
      display: none;
  }
  .nav-menu{
      position: relative;
      height: 100px; 
      top: 0;  
      background: none;
      transition: none;
      text-align: right;
      margin-right: 50px;
}
.linked{
  display: inline-block;
  line-height: 100px;
  margin: 0 20px;
  transition: none;
}
.nav-menu li a {
  font-size: 12px;

}
.carrito{
  width: 50px;
}
}